.Item {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 90%;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color: rgba(247, 249, 250, 0.45);
  border-radius: 4px;
  transition: all .5s ease;
}

.Item:hover {
  background-color: rgba(225, 237, 245, 0.45);
  box-shadow: 2px 2px 2px 2px #30475e;
}

.Text {
  flex: 1 0 0;
  max-width: 85%;
  overflow-wrap: break-word;
  margin: 5px 0 5px 0;
  text-align: left;
}

.Checkbox {
  margin: 10px 10px 0 3px;
  height: 25px;
  min-width: 25px;
}

.Complete {
  text-decoration: line-through;
  background-color: #bbbfca;
  opacity: 0.3;
}

.Complete:hover {
  background-color: rgba(6, 6, 6, 0.45);
  box-shadow: 2px 2px 2px 2px #30475e;
}

.Hidden {
  display: none;
}


@media (min-width: 500px) {
  .Item {
    width: 60%;
  }

  .Checkbox {
    margin: 10px 10px 0 10px;
  }
}