.Add {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 1.2em;
  padding: 5px;
  margin: 10px 5px;
  width: 75px;
  height: 40px;
  border: 1px solid #0c2111;
  border-radius: 4px;
  background-color: #54e346;
  cursor: pointer;
  outline: none;
}

.Add:hover {
  background-color: #00ff3c;
}

.Disabled {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 1.2em;
  padding: 5px;
  margin: 10px 5px;
  width: 75px;
  height: 40px;
  border: 1px solid #0c2111;
  border-radius: 4px;
  background-color: #f05454;
  cursor: not-allowed;
  outline: none;
  opacity: 0.3;
}
