.Close {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 0;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.Close:hover {
  opacity: 1;
  color: rgb(198, 50, 50);
}
.Close:before {
  font-size: 2.5em;
  content: '\00d7'; /* This will render the 'X' */
}
